<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="design-framework-from-scratch">
    <listeners>
        <listener class-name="Utils.SuiteListener"/>
    </listeners>
    <test name = "Test-automation">
        <parameter name="browsername" value="chrome"/>
        <classes>
            <class name = "test.java.SampleTest"/>
        </classes>
    </test>
</suite>
